* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 100px auto 0;
    height: 550px;
    width: 550px;
    background: #FFFDFE;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 550px;
    height: 90px;
    box-shadow: 0px 4px 11px 0px #00000026;
    background: #FFFFFF;
}

main {
    height: 414px;
}

#hex-footer {
    width: 550px;
    height: 46px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
