* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 100px auto 0;
    height: 550px;
    width: 550px;
    background: #FFFDFE;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 550px;
    height: 90px;
    border: 1px 0px 0px 0px;
    border: 1px solid #D1D5DB;
}

#color-picker {
    width: 61px;
    height: 42px;
}

#mode {
    width: 312px;
    height: 42px;
    border-radius: 6px 0px 0px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px 0px #0000000D;
}

#get-button {
    width: 123px;
    height: 42px;
    border-radius: 4px 0px 0px 0px;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px 0px #0000000D;
}

main {
    display: flex;
    align-items: center;
    height: 414px;
}

#rectangle-container {
    height: 414px;
    width: 110px;
}

#rectangle {
    height: 100%;
}

#color-hex {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
}